<div id="bower-search-container" class="container">
   <div class="row">
      <div class="col-xs-12">

         <div class="row" ng-cloak>
            <h3>Most stars</h3>
            <div class="col-sm-4" ng-repeat="package in vm.packages.mostStars">
               <div class="package-box panel panel-default">
                  <div class="panel-body">
                     <div class="package-name pointer" ng-click="vm.goRepository(package)">
                        <i class="fa fa-link" style="margin-right:5px;"></i> {{package.name}}
                     </div>
                     <div class="package-about">
                        {{package.created | date:'yyyy/MM/dd'}} published by {{package.owner}}
                     </div>
                     <div class="package-description">
                        {{package.description}}
                     </div>
                     <div class="pull-right">
                        <i class="fa fa-star" style="color:#edb627"></i> {{package.stars | number}}
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row" ng-cloak>
            <h3>Latest</h3>
            <div class="col-sm-4" ng-repeat="package in vm.packages.latest">
               <div class="package-box panel panel-default">
                  <div class="panel-body">
                     <div class="package-name pointer" ng-click="vm.goRepository(package)">
                        <i class="fa fa-link" style="margin-right:5px;"></i> {{package.name}}
                     </div>
                     <div class="package-about">
                        {{package.created | date:'yyyy/MM/dd'}} published by {{package.owner}}
                     </div>
                     <div class="package-description">
                        {{package.description}}
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row" ng-cloak>
            <h3>Most forked</h3>
            <div class="col-sm-4" ng-repeat="package in vm.packages.mostForked">
               <div class="package-box panel panel-default">
                  <div class="panel-body">
                     <div class="package-name pointer" ng-click="vm.goRepository(package)">
                        <i class="fa fa-link" style="margin-right:5px;"></i> {{package.name}}
                     </div>
                     <div class="package-about">
                        {{package.created | date:'yyyy/MM/dd'}} published by {{package.owner}}
                     </div>
                     <div class="package-description">
                        {{package.description}}
                     </div>
                     <div class="pull-right">
                        <i class="fa fa-code-fork"></i> {{package.forks | number}}
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>